body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(202, 173, 101);
}
input {

    border-radius: 10px;
    padding: 05px;
    width: 30%;

}
#navbar{
    background-color: black;
}